/* HOME.MODULE.CSS */
.container {
    padding: 0 2rem;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    min-height: 100vh;
}

.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Neue', cursive;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-basis: calc(33.333% - 2rem);
    /* 3 columns with space between */
    padding: 1.5rem;
    text-align: left;
    color: #333;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.card:hover,
.card:focus,
.card:active {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 80%;
    border-radius: 15px;
}

.title {
    font-size: 4rem;
    color: #ff4081;
}

.subtitle {
    font-size: 1.75rem;
    color: #333;
    margin-top: 0.5rem;
}

.paragraph {
    font-size: 1.125rem;
    color: #555;
    line-height: 1.5;
    text-align: center;
    margin-top: 1rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .card {
        flex-basis: calc(50% - 2rem);
        /* 2 columns on tablets and medium screens */
    }

    .title {
        font-size: 3rem;
        /* Smaller title size */
    }
}

@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 2rem);
        /* 2 columns on smaller screens */
    }

    .title {
        font-size: 2.5rem;
        /* Smaller title size */
    }
}

@media (max-width: 480px) {
    .card {
        flex-basis: 100%;
        /* 1 column on very small screens */
    }

    .title {
        font-size: 2rem;
        /* Smaller title size */
    }
}